:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-dark: #121212;
    --background-light: #f8f9fa;
    --text-color-light: #ffffff;
    --text-color-dark: #212529;
}